#cv, #gui-cv {
	border: 1px solid #000000;
	position: absolute;
}

#gui {
	border: 1px solid #000000;
	position: relative;
	width: 600px;
	height: 600px;
}

#chat_logs {
	width: 600px;
	height: 100px;
	overflow-y: auto
}

#chat_msg {
	width: 600px;
}

#game {
	display: none;
}

#lower {
	display: none;
}

h1 {
	font-size: 30px;
	padding: 0;
	margin: 0;
}

#changeWorld {
	position: absolute;
	bottom: 0px;
	right: 0px;
}